* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0; /* Color de fondo */
    font-family: Arial, sans-serif;
}




footer {
    background-color: #1A5276; /* Color de fondo del pie de página */
    color: #ffffff; /* Color del texto del pie de página */
    padding: 20px;
    text-align: center;
}

footer a {
    color: #ffffff; /* Color del enlace en el pie de página */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
